{% extends "base.html" %}

{% block content %}

{% for entry in entries %}
    <div class="error">{{error}}</div>

    <div class="entry">
        <div class="entry-title">
        <a href="/blog/{{entry.key().id()}}">{{entry.title}}</a>
        </div>
        <pre class="entry-body">{{entry.entry}}</pre>
    </div>
{% endfor %}

    <div><a href="/blog?=page">previous page</a></div>
    <div><a href="/blog?=page">next page</a></div>
    <h3>
        <a href="/blog/newpost">Create a new post</a>
    </h3>

{% endblock %}
