{% extends "base.html" %}

{% block content %}



    <form method="post">
        <label>
            <div>title</div>
            <input type="text" name="title" value="{{title}}">
        </label>
        <label>
            <div>post</div>
            <textarea name="entry">{{entry}}</textarea>
        </label>

        <div class="error">{{error}}</div>

        <input type="submit">
    </form>

    <hr>

    {% for entry in entries %}
        <div class="entry">
            <div class="entry-title">{{entry.title}}</div>
            <pre class="entry-body">{{entry.entry}}</pre>
        </div>
    {% endfor %}

{% endblock %}
